<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Colo Shop Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/slideproduct/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/slideproduct/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/slideproduct/https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
  <link rel="stylesheet" href="/slideproduct/css/style.css">



  <link rel="stylesheet" type="text/css" href="/assets/styles/bootstrap4/bootstrap.min.css">
  <link href="/assets/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
  <link rel="stylesheet" type="text/css" href="/assets/plugins/OwlCarousel2-2.2.1/animate.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/main_styles.css">
  <link rel="stylesheet" type="text/css" href="/assets/styles/responsive.css">
</head>

<body>

<div class="super_container">

  <!-- Header -->

  <th:block th:replace="_Layout :: header">
  </th:block>

  <div class="fs_menu_overlay"></div>









  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="heading-section mb-5">Sản Phẩm Mới</h2>
        </div>
        <div class="col-md-12">
          <div class="featured-carousel owl-carousel">
            <th:block th:each="product : ${list}">
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-end justify-content-center" th:style="'background-image: url(' + ${product.completeImage} + ');'">
                  <div class="text w-100">
                    <span class="cat"></span>
                   <h3 style="color: #f5f0f1;" th:text="${product.title}"></h3>
                  </div>
                </div>
              </div>
            </div>
            </th:block>
          </div>
        </div>
      </div>
    </div>
  </section>








  <div class="newsletter">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
            <h4>Newsletter</h4>
            <p>Subscribe to our newsletter and get 20% off your first purchase</p>
          </div>
        </div>
        <div class="col-lg-6">
          <form action="post">
            <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
              <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
              <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <th:block th:replace="_Layout :: footer">
  </th:block>





</div>
<script src="/slideproduct/js/jquery.min.js"></script>
<script src="/slideproduct/js/popper.js"></script>
<script src="/slideproduct/js/bootstrap.min.js"></script>
<script src="/slideproduct/js/owl.carousel.min.js"></script>
<script src="/slideproduct/js/main.js"></script>


<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/styles/bootstrap4/popper.js"></script>
<script src="/assets/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/assets/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="/assets/plugins/easing/easing.js"></script>
<script src="/assets/js/custom.js"></script>
</body>

</html>
